body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/092/149/original/pexels-pixabay-36717.jpg?1691167809)
    rgba(3, 3, 3, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 150vh;
  opacity: 1;
}

.container {
  color: #fff;
  margin-left: 100px;
  padding: 50px;
  margin-top: 100px;
  border: 1px solid;
}
#temperature {
  font-size: 40px;
}
small {
  font-size: 10px;
  position: relative;
  top: -30px;
}
.weather-boder {
  border-radius: 10px;

  box-shadow: 0 0 50px 5px #f3f3f3;
}
.weather-update {
  padding: 10px;
  margin-top: 25rem;
}

.btn {
  font-size: 20px;
  border: none;
  background-color: #d83e35;
  color: black;
}
.btn:hover {
  background-color: #bd5e64;
  color: black;
}
#description {
  text-transform: capitalize;
}
.text {
  color: #d83e35;
  background-color: rgb(231, 225, 225);
  border: none;
}
h6 {
  padding: 10px;
  line-height: 1.5;
  opacity: 0.6;
}
li {
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
  padding: 10px;
}
.weather-forecast-min {
  opacity: 0.5;
}
.Weather-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 750px) {
  .weather-update {
    margin-top: 5rem;
  }
  .btn {
    font-size: 10px;

    padding: 2px;
  }
}
